@import url('./styles/vars.css');
@import url('./styles/header.css');
@import url('./styles/footer.css');

.main {
  background-color: var(--grisClaro);
  margin: 0 auto;
  padding: 0 5% 2rem;
}

.main--congrats {
  padding: 10rem 5% 10rem;
}

.congrats {
  margin: 0 auto;
  background-color: rgba(241, 248, 245, 1);
  border: 2px solid rgba(149, 201, 180, 1);
  border-radius: 5px;
  padding: 1rem 25%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-evenly; */
}

.congrats__icon {
  color: rgba(0, 127, 95, 1);
}

@media only screen and (min-width: 640px) {
  .congrats {
    width: 50%;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .congrats {
    padding: 1rem 2rem;
  }
}
