@import url('./styles/vars.css');
@import url('./styles/header.css');
@import url('./styles/footer.css');

.main {
  background-color: var(--grisClaro);
  margin: 0 auto;
  padding: 0 5% 2rem;
}

.section-title {
  font-size: var(--titles);
  color: var(--grisOscuro);
  padding: 2rem 0 1rem 0;
}

.product {
  margin-bottom: 10px;
}

.product__image-container img {
  height: 100%;
  width: 100%;
  display: block;
}

.product__info-container {
  border-top: 1px solid var(--grisClaro);
  background-color: var(--blanco);
  padding: 1rem 0 1rem 1rem;
  position: relative;
}

.product__icon-container {
  height: 40px;
  width: 40px;
  border: 1px solid var(--verde);
  border-radius: 50%;
  color: var(--verde);
  background-color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: -20px;
}

.product_name {
  color: var(--grisOscuro);
  display: none;
}

.product_discount {
  color: var(--verde);
  margin: 5px 0;
}

@media screen and (min-width: 640px) {
  main {
    padding: 2rem 5% 4rem;
  }

  .latest,
  .ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }

  .product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    flex: 1 1 40%;
  }

  .product__numbers-container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .product_discount {
    margin: 0;
  }

  .product_name {
    display: block;
    opacity: 0;
  }

  .product__info-container:hover > .product_name {
    opacity: 1;
    transition: 1s;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    margin: 0 auto;
    padding: 5rem 5%;
  }

  .section-title {
    padding: 0;
    padding-bottom: 1rem;
  }

  .latest {
    margin-bottom: 3rem;
  }

  .product {
    margin: 0;
    flex: 1 1 20%;
    box-shadow: none;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: 400ms ease-in-out;
  }

  .product__info-container:hover > .product__icon-container {
    rotate: -90deg;
    transition: 1s;
  }
}
